<div class="container">

<% the_id = params["id"] %>
<% the_genre = Genre.read(the_id) %>
<% restaurants = Restaurant.where("genre_id" => the_genre["id"]) %>

<% restaurants.each do |resta| %>
  <p><%= link_to resta["name"], "/restaurants/#{resta["id"]}" %></p>

<% end %>

</div>
