<div class="container">

<div class="jumbotron">
  <h1>Hello, foodie</h1>
  <p>Have you ever had a great meal at a restaurant and thought, "I'm definitely going to get this dish again!" Or perhaps you've returned to a restaurant and wondered, "Is this what I ordered last time? Did I even like it?"</p>
  <p>If so, this food journal is for you! Get started by adding different restaurants and recording your thoughts about the experience and the food.</p>
  <p><a class="btn btn-danger btn-lg" role="button" href="/restaurants">Let's get started</a></p>
</div>

</div>
