<% the_id = params["id"] %>
<% the_city = City.read(the_id) %>
<% restaurants = Restaurant.where("city_id" => the_city["id"]) %>

<h2>Restaurants in <%= the_city["name"] %></h2>

<% restaurants.each do |resta| %>
  <%= resta["name"] %>

<% end %>
