<% Restaurant.read.order("name asc").each do |resta| %>

  <h2>
    <%= link_to resta["name"], "/restaurants/#{resta["id"]}" %>
  </h2>
  <%= image_tag resta["photo_url"], "width" => "150" %>

<% end %>
